/* We can use three different fonts */
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #A3BB98;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #A3BB98;
  font-family: 'Noirden', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #A3BB98;
  font-family: 'Noirden', sans-serif;
}

/* The line-height CSS property is commonly used to set the distance between lines of text */
p {
  line-height: 2;
}
ul {
  line-height: 2;
}
/* We can make dotted line */
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.footer-link {
  color: #0a0af8;
  font-family: 'Noirden', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

/* The :hover CSS pseudo-class matches when the user interacts with an element with a pointing device, but does not necessarily activate it.  */
.footer-link:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #FBC252;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px
}


.bottom-container {
  background-color: #A3BB98;
  padding: 30px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  border-radius: 8px;
}
/* a media query to make the image disappear if width < 1200 */
@media (max-width: 1200px) {
  .top-cloud {
    display: none;
  }
  .code-img {
    display: none;
  }
  .code-img-right {
    display: none;
  }
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}


.contact-me {
  width: 50%;
  margin: 100px auto 100px auto;
  border-radius: 8px;
  line-height: 2;
}

.copyright {
  color: #F0ECCF;
  font-size: 0.75rem;
  padding: 20px 0;
}
.profile-img {
  filter: opacity(0.8);
}
.top-cloud {
  filter: opacity(0.7);
  position: absolute;
  right: 50px;
  top: 40px;
	transform: scale(1);
	animation: pulse 2s infinite;
}
/* A simple pulse animation in every '2s infinite'*/
@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}


.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 8px;
}

.code-img-right {
  width: 25%;
  float: right;
  margin-right: 30px;
  border-radius: 8px;
}

